---
import Layout from "../layouts/Layout.astro";
import Github from "../assets/github.svg";
import Linkedin from "../assets/link.svg";
import Briefcase from "../assets/briefcase.svg";
import Twitter from "../assets/twitter.svg";
---

<Layout title="About Parra">
  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h1 class="text-2xl 2xl:text-6xl lg:text-5xl font-bold">Hi there,</h1>
        <h2
          class="text-2xl 2xl:text-6xl lg:text-5xl font-bold flex align-middle justify-center"
        >
          <div
            class="bg-gradient-to-r from-blue-700 to-violet-600 text-transparent bg-clip-text"
          >
            I'm Caleb Parra
          </div>
          <div class="animate-waving-hand">👋🏾</div>
        </h2>

        <p class="py-6 text-sm md:text-xl 2xl:text-2xl">
          With knowledge and ability to create software solutions from its initial stage to its final stage whit code and no code technologies.
          I can create bussines solutions focused on digitizing manual processes and automating them.
        </p>
        <p class="badge badge-outline badge-warning">Cloud enthusiast</p>
        <p class="badge badge-outline badge-success">Prompt Engineering</p>
        <p class="badge badge-outline badge-accent">Automation</p>
        <p class="badge badge-outline badge-warning">Power Platform</p>
        <p class="badge badge-outline badge-success">Code, Low-code & No-code</p>
        <p class="badge badge-outline badge-accent">Data & IA</p>

        <div class="flex gap-3 mt-10 justify-center align-middle text-center">
          <a
            href="https://github.com/1001-caleb"
            class="tooltip"
            data-tip="Github"
          >
            <img src={Github} alt="" />
          </a>
          <a
            href="https://www.linkedin.com/in/caleb-parra/"
            class="tooltip"
            data-tip="linkedin"
          >
            <img src={Linkedin} alt="" width="23px" class="invert" />
          </a>
          <a
            href="https://www.parra.codes/"
            class="tooltip"
            data-tip="Briefcase"
          >
            <img src={Briefcase} alt="" width="23px" class="invert" />
          </a>
          <a
            href="https://twitter.com/ParraCode_"
            class="tooltip"
            data-tip="Twitter"
          >
            <img src={Twitter} alt="" width="24px" class="invert" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
